{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container themed-container">
    <h1 style="text-align: center;">Login</h1>
    <div style="top: 50%; margin: auto; width: 300px;">
        <form method="POST" action="">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            <br>
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
